* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.game-board{
    width: 100%;
    height: 86vh;
    background-color: #47f3ff;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.obstacle{
    position: absolute;
    bottom: 0;
    width: 80px;

    animation: obstacle-animation 2s infinite linear; 
}

@keyframes obstacle-animation{
    from{
        right: -80px;
    }
    to{
        right: 110%;
    }
}

.player{
    width: 100px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

@keyframes jump{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 130px;
    }
    50%{
        bottom: 130px;
    }
    60%{
        bottom: 130px;
    }
    100% {
        bottom: 0;
    }
}

.bg{

    position: absolute;
    animation: bg-animation 25s infinite linear;

}

.bg-2{
    position: absolute;
    animation: bg-animation-2 25s infinite linear;

}

@keyframes bg-animation{
    from{
        right: 0%;
        opacity: 0.2;
    }
    50%{
        right: 50%;
        opacity: 0.5;
    }
    to{
        right: 100%;
        opacity: 0.2;
    }
}

@keyframes bg-animation-2{
    from{
        right: -100%;
        opacity: 0.2;
    }
    50%{
        right: -50%;
        opacity: 0.5;
    }
    to{
        right: 0%;
        opacity: 0.2;
    }
}


body{
    background-color: #b4dc5c;
}

